---
layout: layout
---
<ul class="links">
    <li>
        <a href="/resume/">
            {% include feather.html, icon: "file-text", class: "feather-large" %}
            Resume
        </a>
    </li>
    <li>
        <a href="https://github.com/bitswamp">
            {% include feather.html, icon: "github", class: "feather-large" %}
            GitHub
        </a>
    </li>
    <li>
        <a href="https://twitter.com/bitswamp">
            {% include feather.html, icon: "twitter", class: "feather-large" %}
            Twitter
        </a>
    </li>
</ul>
