---
layout: layout
---
<section id="contact">
    <h3>Contact</h3>
    <dl>
        <div>
            <dt>Email</dt>
            <dd>
                <a href="mailto:{{ contact.email }}" aria-label="email address">
                    {{ contact.email }}
                </a>
            </dd>
        </div>
        <div>
            <dt>Website</dt>
            <dd>
                <a href="{{ contact.website }}" aria-label="personal homepage">
                    {{ contact.website }}
                </a>
            </dd>
        </div>
        <div>
            <dt>Github</dt>
            <dd>
                <a href="https://github.com/{{ contact.github }}" class="github" aria-label="github account">
                    {{ contact.github }}
                </a>
            </dd>
        </div>
    </dl>
    <div id="download-pdf" class="no-print">
        <a href="ben_macleod_software_developer_resume.pdf">
            {% include feather.html, icon: "file-text" %}Download resume as PDF
        </a>
    </div>
</section>
<section id="about">
    <h3>About</h3>
    {% for para in about %}
        <p>{{ para }}</p>
    {% endfor %}
</section>
<section id="work">
    <h3>Work</h3>
    {% for job in work %}
        <section class="work-entry">
            <header>
                <h4 class="position">
                    {{ job.position}} at <a href="{{ job.website }}">{{ job.employer }}</a>
                </h4>
                <span class="line"></span>
                <span class="date">{{ job.date }}</span>
            </header>
            <section>
                <ul>
                    {% for section in job.sections %}
                        {% for point in section.content %}
                            <li>{{ point }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </section>
            <section>
                <h5>Key skills</h5>
                <div class="work-skills">
                    {% for skill in job.skills %}
                        <span class="work-skill">{{ skill }}</span>
                    {% endfor %}
                </div>
            </section>
        </section>
    {% endfor %}
</section>
<section id="education">
    <h3>Education</h3>
    {% for program in education %}
        <section class="education-entry">
            <header>
                <h4 class="position">
                    {{ program.program }} at <a href="{{ program.website }}">{{ program.school }}</a>
                </h4>
                <span class="line"></span>
                <span class="date">{{ program.date }}</span>
            </header>
            {% for section in program.sections %}
                <section>
                    <h5 class='section-title'>{{ section.title }}</h5>
                    <ul>
                        {% for point in section.content %}
                            <li>{{ point }}</li>
                        {% endfor %}
                    </ul>
                </section>
            {% endfor %}
        </section>
    {% endfor %}
</section>
